/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.orderBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  background-color: #2a2e36;
  padding: 1rem;
  min-height: 500px;
  width: 650px;
  border-radius: 1rem;
}

.t1 {
  background-color: #4e5556;
  color: #cbff8f;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 4px;
}

@media (max-width: 780px) {
  .orderBox {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .orderBox {
    width: 240px;
  }
}
