.line {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  zoom: 1.3;
  gap: 30px;
}

@media (max-width: 780px) {
  .line {
    zoom: 1.1;
    gap: 15px;
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .line {
    zoom: 0;
    gap: 10px;
    font-size: 12px;
  }
}
