/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.Admin_gear_box {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}
.first {
  width: 40%;
  text-align: start;
}
.second {
  width: 30%;
  text-align: center;
}
.emoji {
  width: 30%;
}
.select_box {
  text-align: center;
}

.emoji span {
  font-size: 2rem;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
}

@media (max-width: 780px) {
  .Admin_gear_box {
    gap: 0.4rem;
    font-size: 14px;
    padding: 0.1rem;
    text-align: center;
  }

  .first {
    width: 70%;
  }
  .second {
    width: 10%;
    margin-left: 7px;
  }
  .emoji {
    width: 18%;
  }
}
