/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.table_main {
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  width: 70%;
}

.done {
  padding: 4px 16px;
  border: none;
  border-radius: 3px;
  background-color: #0bc371;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
}

.done:hover {
  color: black;
}

.close {
  padding: 4px 16px;
  border: none;
  border-radius: 3px;
  background-color: #f50057;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
}

.close:hover {
  color: black;
}

.button_box {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem;
}

.Loading {
  text-align: center;

  width: 50%;
}

@media (max-width: 780px) {
  .table_main {
    width: 100%;
    font-size: 15px;
  }
}
