/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.admin_panel_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 99%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.t1 {
  background-color: #4e5556;
  color: #cbff8f;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 4px;
}

.emoji {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
