/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding-top: 77px;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}

.excel {
  padding: 3px 15px !important;
  border: 2px solid #0bc371 !important;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

.ex_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
}

.search_files {
  text-align: start;
}

.serial_box {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  height: 250px;
  background-color: #2a2e36;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
}

.line {
  width: 93%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  background-color: #12181b;
  border-radius: 5px;
}

.btnStyle {
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #0bc371;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.btnStyle2 {
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #4152af;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.pending {
  background-color: #f29339;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.pending:hover {
  border: 2px solid white;
}

.btnStyle:hover {
  border: 2px solid white;
}

.t1 {
  background-color: #4e5556;
  color: #cbff8f;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 4px;
}

.modal_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sizeRocket {
  font-size: 2rem;
}

.search_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

.search_input button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 1rem;
  font-size: 1.4rem;
}

@media (max-width: 780px) {
  .serial_box {
    width: 95%;
  }
  .btnStyle {
    padding: 0px 12px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: #0bc371;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  .pending {
    padding: 0px 12px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: #f29339;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .line {
    width: 97%;
    font-size: 12px;
  }
  .btnStyle {
    font-size: 13px;
  }

  .pending {
    font-size: 13px;
  }

  .search_input input {
    width: 130px;
    font-size: 10px;
  }
}
