/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 90%;
  background-color: #3c424a;
  min-height: 50px;
  padding: 1rem;
  border-radius: 13px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1200;
  color: white;
  font-family: "Varela Round", sans-serif;
  -webkit-animation: slide-down 300ms ease-out forwards;
  animation: slide-down 300ms ease-out forwards;
}

.modal_table {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 90%;
  background-color: #3c424a;
  max-height: 600px;
  overflow-y: scroll;
  padding: 0.5rem;
  border-radius: 13px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1200;
  color: white;
  font-family: "Varela Round", sans-serif;
  -webkit-animation: slide-down 300ms ease-out forwards;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
  .modal_table {
    width: 40rem;
    left: calc(50% - 20rem);
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .modal {
    font-size: 12px;
  }
  .modal_table {
    font-size: 12px;
  }
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
