/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.navBox {
  background-color: #2a2e34;
  height: 77px;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

.nav {
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.logo {
  text-align: end;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Mochiy Pop One", sans-serif;
}

.wellcomBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.emoji {
  font-size: 1.4rem;
  padding-right: 10px;
}

.boxBurger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 350px) {
  .emoji {
    font-size: 1rem;
    padding-right: 5px;
  }
  .wellcomBox {
    font-size: 12px;
    padding: 0 4px;
  }
}
