.footer_box {
  background-color: #2a2e34;
  height: 60px;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

.footerInner_box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
