/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.boxPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 75px;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}

.gradienText {
  background: #fb7f44;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fb7f44),
    color-stop(19%, #fc6f57),
    color-stop(48%, #fc6364),
    color-stop(85%, #fd596f),
    to(#ff4484)
  );
  background: -o-linear-gradient(
    left,
    #fb7f44 0%,
    #fc6f57 19%,
    #fc6364 48%,
    #fd596f 85%,
    #ff4484 100%
  );
  background: linear-gradient(
    to right,
    #fb7f44 0%,
    #fc6f57 19%,
    #fc6364 48%,
    #fd596f 85%,
    #ff4484 100%
  );
  border-radius: 4px;
  padding: 4px;
  font-size: 2rem;
  text-align: center;
}

.sizeRocket {
  font-size: 2rem;
}

.loadingBox {
  padding: 4rem;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 780px) {
  .gradienText {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 350px) {
  .gradienText {
    font-size: 6px;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
}
